h1 {
    text-align: center;
}

.inside{
    margin: 3em;
    border: 2px solid green;
    padding: 10px;
}

.center-form{
    text-align: center;
}


#information{
    margin-left: auto;
    margin-right: auto;
    text-align: center;    
    font-size: 16pt;
    font-family: 'Bookman Old Style';
}

td:first-child{
    font-weight: bold;
    color:green;
    text-align: right;
}

td:last-child{
    text-align: left;
    padding-left: 10px;
}

